<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="hu.skzs.multiproperties.rcp.MultiPropertiesApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="hu.skzs.multiproperties.rcp.application"
            name="MultiProperties">
         <property
               name="aboutText"
               value="MultiProperties Editor - standalone">
         </property>
         <property
               name="windowImages"
               value="icons/multiproperties_16x16.gif,icons/multiproperties_32x32.gif,icons/multiproperties_48x48.gif,icons/multiproperties_64x64.gif,icons/multiproperties_128x128.gif,icons/multiproperties_256x256.gif">
         </property>
         <property
               name="aboutImage"
               value="icons/about.png">
         </property>
         <property
               name="appName"
               value="MultiProperties">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="hu.skzs.multiproperties.rcp.command.NewFile"
            name="%command.newfile">
      </command>
      <command
            id="hu.skzs.multiproperties.rcp.command.OpenFile"
            name="%command.openfile">
      </command>
      <command
            id="hu.skzs.multiproperties.rcp.command.OpenHomepage"
            name="%command.openhomepage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=new">
            <command
                  commandId="hu.skzs.multiproperties.rcp.command.NewFile"
                  label="%command.newfile"
                  tooltip="%command.newfile.tooltip">
            </command>
            <command
                  commandId="hu.skzs.multiproperties.rcp.command.OpenFile"
                  label="%command.openfile"
                  tooltip="%command.openfile.tooltip">
            </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:help?before=additions">
            <command
                  commandId="hu.skzs.multiproperties.rcp.command.OpenHomepage"
                  label="%command.openhomepage"
                  tooltip="%command.openhomepage">
            </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=group.file">
         <toolbar
               id="hu.skzs.multiproperties.rcp.toolbar">
            <command
                  commandId="hu.skzs.multiproperties.rcp.command.OpenFile"
                  icon="icons/open.png"
                  label="%command.openfile"
                  tooltip="%command.openfile">
            </command>
            <separator name="hu.skzs.multiproperties.rcp.toolbar.separator" visible="true"/>
            <command
                  commandId="org.eclipse.ui.file.save" style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
      		class="hu.skzs.multiproperties.rcp.handler.NewFileHandler"
            commandId="hu.skzs.multiproperties.rcp.command.NewFile">
      </handler>
      <handler
      		class="hu.skzs.multiproperties.rcp.handler.OpenFileHandler"
            commandId="hu.skzs.multiproperties.rcp.command.OpenFile">
      </handler>
      <handler
      		class="hu.skzs.multiproperties.rcp.handler.OpenHomepageHandler"
            commandId="hu.skzs.multiproperties.rcp.command.OpenHomepage">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="hu.skzs.multiproperties.rcp.scheme"
            name="%command.schema.name">
      </scheme>
      <key
            commandId="hu.skzs.multiproperties.rcp.command.NewFile"
            schemeId="hu.skzs.multiproperties.rcp.scheme"
            sequence="M1+N">
      </key>
      <key
            commandId="hu.skzs.multiproperties.rcp.command.OpenFile"
            schemeId="hu.skzs.multiproperties.rcp.scheme"
            sequence="M1+O">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="hu.skzs.multiproperties.rcp.preference.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
