/bin/
/src/hu/skzs/multiproperties/base/model/fileformat_\d_\d/MultiProperties.java
/src/hu/skzs/multiproperties/base/model/fileformat_\d_\d/ObjectFactory.java
/src/hu/skzs/multiproperties/base/model/fileformat_\d_\d/package-info.java
