<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="hu.skzs.multiproperties.ui.editor.Editor"
            extensions="multiproperties"
            icon="icons/title.gif"
            id="hu.skzs.multiproperties.ui.editor"
            name="%editor.name"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="hu.skzs.multiproperties.ui.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="hu.skzs.multiproperties.ui.preferences.PreferencesPage"
            id="hu.skzs.multiproperties.ui.preferencespage"
            name="%preference.general.page.name"/>
      <page
            category="hu.skzs.multiproperties.ui.preferencespage"
            class="hu.skzs.multiproperties.ui.preferences.ColorsPreferencesPage"
            id="hu.skzs.multiproperties.ui.colorspreferencespage"
            name="%preference.color.page.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="hu.skzs.multiproperties.ui.perspectives.Perspective"
            icon="icons/title.gif"
            id="hu.skzs.multiproperties.ui.perspective"
            name="%perspective.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="hu.skzs.multiproperties.newwizard.category"
            name="MultiProperties">
      </category>
      <wizard
            category="hu.skzs.multiproperties.newwizard.category"
            class="hu.skzs.multiproperties.ui.wizard.NewMultiPropertiesWizard"
            icon="icons/title.gif"
            id="hu.skzs.multiproperties.newwizard.NewMultiProperties"
            name="MultiProperties">
      </wizard>
   </extension>
   <extension
		id="problemmarker" 
		point="org.eclipse.core.resources.markers" 
		name="problemName">
			<super type="org.eclipse.core.resources.marker"/>
			<persistent value="true"/>
			<attribute name="severity"/>
			<attribute name="message"/>
			<attribute name="location"/>
	</extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="hu.skzs.multiproperties.ui.propertytester.MPEPropertyTester"
            id="hu.skzs.multiproperties.ui.propertyTester"
            namespace="hu.skzs.multiproperties.ui"
            properties="isContinuousSelection,isBeginningSelection,isEndingSelection,isMultilinePropertySelection,isNormalPropertySelection"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="hu.skzs.multiproperties.ui.command.AddProperty"
            name="%command.add.property">
      </command>
      <command
            id="hu.skzs.multiproperties.ui.command.AddComment"
            name="%command.add.comment">
      </command>
      <command
            id="hu.skzs.multiproperties.ui.command.AddEmpty"
            name="%command.add.empty">
      </command>
      <command
            id="hu.skzs.multiproperties.ui.command.Edit"
            name="%command.edit">
      </command>
      <command
            id="hu.skzs.multiproperties.ui.command.ConvertToMultiline"
            name="%command.convert.multiline">
      </command>
      <command
            id="hu.skzs.multiproperties.ui.command.ConvertToNormal"
            name="%command.convert.normal">
      </command>
      <command
            id="hu.skzs.multiproperties.ui.command.Duplicate"
            name="%command.duplicate">
      </command>
      <command
            id="hu.skzs.multiproperties.ui.command.Disable"
            name="%command.disable">
      </command>
      <command
            id="hu.skzs.multiproperties.ui.command.MoveUp"
            name="%command.moveup">
      </command>
      <command
            id="hu.skzs.multiproperties.ui.command.MoveDown"
            name="%command.movedown">
      </command>
      <command
            id="hu.skzs.multiproperties.ui.command.InlineEdit"
            name="%command.inlineedit">
		   <state
		         class="org.eclipse.ui.handlers.RegistryToggleState:false"
		         id="org.eclipse.ui.commands.toggleState">
		   </state>
      </command>
      <command
            id="hu.skzs.multiproperties.ui.command.ToggleTooltip"
            name="%command.tooltip">
		   <state
		         class="org.eclipse.ui.handlers.RegistryToggleState:false"
		         id="org.eclipse.ui.commands.toggleState">
		   </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="hu.skzs.multiproperties.ui.command.AddProperty"
            icon="icons/property_add.gif"
            disabledIcon="icons/property_add_d.gif"/>
      <image
            commandId="hu.skzs.multiproperties.ui.command.AddComment"
            icon="icons/comment_add.gif"
            disabledIcon="icons/comment_add_d.gif"/>
      <image
            commandId="hu.skzs.multiproperties.ui.command.AddEmpty"
            icon="icons/empty_add.gif"
            disabledIcon="icons/empty_add_d.gif"/>
      <image
            commandId="hu.skzs.multiproperties.ui.command.Duplicate"
            icon="icons/duplicate.gif"
            disabledIcon="icons/duplicate_d.gif"/>
      <image
            commandId="hu.skzs.multiproperties.ui.command.MoveUp"
            icon="icons/move_up_e.gif"
            disabledIcon="icons/move_up_d.gif"/>
      <image
            commandId="hu.skzs.multiproperties.ui.command.MoveDown"
            icon="icons/move_down_e.gif"
            disabledIcon="icons/move_down_d.gif"/>
      <image
            commandId="hu.skzs.multiproperties.ui.command.InlineEdit"
            icon="icons/inline_edit.gif"/>
      <image
            commandId="hu.skzs.multiproperties.ui.command.ToggleTooltip"
            icon="icons/tooltip.gif"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:edit?after=additions">
            <command
                  commandId="hu.skzs.multiproperties.ui.command.AddProperty"
                  label="%command.add.property"
                  tooltip="%command.add.property.tooltip">
	            <visibleWhen>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.editorActive"/>
	            </visibleWhen>
            </command>
            <command
                  commandId="hu.skzs.multiproperties.ui.command.AddComment"
                  label="%command.add.comment"
                  tooltip="%command.add.comment.tooltip">
	            <visibleWhen>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.editorActive"/>
	            </visibleWhen>
            </command>
            <command
                  commandId="hu.skzs.multiproperties.ui.command.AddEmpty"
                  label="%command.add.empty"
                  tooltip="%command.add.empty.tooltip">
	            <visibleWhen>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.editorActive"/>
	            </visibleWhen>
            </command>
            <separator
                  name="hu.skzs.multiproperties.ui.separator"
                  visible="true">
            </separator>
            <command
                  commandId="hu.skzs.multiproperties.ui.command.Duplicate"
                  label="%command.duplicate"
                  tooltip="%command.duplicate.tooltip">
	            <visibleWhen>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.editorActive"/>
	            </visibleWhen>
            </command>
            <command
                  commandId="hu.skzs.multiproperties.ui.command.Disable"
                  label="%command.disable"
                  tooltip="%command.disable.tooltip">
	            <visibleWhen>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.editorActive"/>
	            </visibleWhen>
            </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
            <toolbar
                  id="hu.skzs.multiproperties.ui.toolbar">
	            <command
	                  commandId="hu.skzs.multiproperties.ui.command.MoveUp"
	                  label="%command.moveup"
	                  tooltip="%command.moveup.tooltip">
		            <visibleWhen>
		               <reference definitionId="hu.skzs.multiproperties.ui.definition.editorActive"/>
		            </visibleWhen>
	            </command>
	            <command
	                  commandId="hu.skzs.multiproperties.ui.command.MoveDown"
	                  label="%command.movedown"
	                  tooltip="%command.movedown.tooltip">
		            <visibleWhen>
		               <reference definitionId="hu.skzs.multiproperties.ui.definition.editorActive"/>
		            </visibleWhen>
	            </command>
	            <command
	                  commandId="hu.skzs.multiproperties.ui.command.InlineEdit"
	                  label="%command.inlineedit"
	                  tooltip="%command.inlineedit.tooltip"
	                  style="toggle">
		            <visibleWhen>
		               <reference definitionId="hu.skzs.multiproperties.ui.definition.editorActive"/>
		            </visibleWhen>
	            </command>
	            <command
	                  commandId="hu.skzs.multiproperties.ui.command.ToggleTooltip"
	                  label="%command.tooltip"
	                  tooltip="%command.tooltip.tooltip"
	                  style="toggle">
		            <visibleWhen>
		               <reference definitionId="hu.skzs.multiproperties.ui.definition.editorActive"/>
		            </visibleWhen>
	            </command>
            </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:hu.skzs.multiproperties.ui.editor">
            <command
                  commandId="hu.skzs.multiproperties.ui.command.AddProperty"
                  label="%command.add.property"
                  tooltip="%command.add.property.tooltip">
	            <visibleWhen>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.editorActive"/>
	            </visibleWhen>
            </command>
            <command
                  commandId="hu.skzs.multiproperties.ui.command.AddComment"
                  label="%command.add.comment"
                  tooltip="%command.add.comment.tooltip">
	            <visibleWhen>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.editorActive"/>
	            </visibleWhen>
            </command>
            <command
                  commandId="hu.skzs.multiproperties.ui.command.AddEmpty"
                  label="%command.add.empty"
                  tooltip="%command.add.empty.tooltip">
	            <visibleWhen>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.editorActive"/>
	            </visibleWhen>
            </command>
            <separator
                  name="hu.skzs.multiproperties.ui.separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  label="%command.delete"
                  tooltip="%command.delete.tooltip">
            </command>
            <separator
                  name="hu.skzs.multiproperties.ui.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="hu.skzs.multiproperties.ui.command.Edit"
                  label="%command.edit"
                  tooltip="%command.edit.tooltip">
	            <visibleWhen>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.editorActive"/>
	            </visibleWhen>
            </command>
            <command
                  commandId="hu.skzs.multiproperties.ui.command.ConvertToMultiline"
                  label="%command.convert.multiline"
                  tooltip="%command.convert.multiline.tooltip">
	            <visibleWhen>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.convertToMultiline"/>
	            </visibleWhen>
            </command>
            <command
                  commandId="hu.skzs.multiproperties.ui.command.ConvertToNormal"
                  label="%command.convert.normal"
                  tooltip="%command.convert.normal.tooltip">
	            <visibleWhen>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.convertToNormal"/>
	            </visibleWhen>
            </command>
            <command
                  commandId="hu.skzs.multiproperties.ui.command.MoveUp"
                  label="%command.moveup"
                  tooltip="%command.moveup.tooltip">
	            <visibleWhen>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.editorActive"/>
	            </visibleWhen>
            </command>
            <command
                  commandId="hu.skzs.multiproperties.ui.command.MoveDown"
                  label="%command.movedown"
                  tooltip="%command.movedown.tooltip">
	            <visibleWhen>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.editorActive"/>
	            </visibleWhen>
            </command>
            <command
                  commandId="hu.skzs.multiproperties.ui.command.Duplicate"
                  label="%command.duplicate"
                  tooltip="%command.duplicate.tooltip">
	            <visibleWhen>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.editorActive"/>
	            </visibleWhen>
            </command>
            <command
                  commandId="hu.skzs.multiproperties.ui.command.Disable"
                  label="%command.disable"
                  tooltip="%command.disable.tooltip">
	            <visibleWhen>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.editorActive"/>
	            </visibleWhen>
            </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="hu.skzs.multiproperties.ui.definition.editorActive">
		<and>
			<with variable="activeEditor">
         		<instanceof value="hu.skzs.multiproperties.ui.editor.Editor"/>
			</with>
		</and>
      </definition>
      <definition
            id="hu.skzs.multiproperties.ui.definition.hasSelection">
		<and>
			<with variable="activeEditor">
         		<instanceof value="hu.skzs.multiproperties.ui.editor.Editor"/>
			</with>
			<with variable="selection">
				<and>
					<count value="+"/>
					<iterate ifEmpty="false" operator="and">
						<instanceof value="hu.skzs.multiproperties.base.model.AbstractRecord"/>
					</iterate>
				</and>
			</with>
		</and>
      </definition>
      <definition
            id="hu.skzs.multiproperties.ui.definition.continuousSelection">
		<and>
			<with variable="activeEditor">
         		<instanceof value="hu.skzs.multiproperties.ui.editor.Editor"/>
			</with>
			<with variable="selection">
				<or>
					<count value="0"/>
					<test property="hu.skzs.multiproperties.ui.isContinuousSelection"/>
				</or>
			</with>
		</and>
      </definition>
      <definition
            id="hu.skzs.multiproperties.ui.definition.editable">
		<and>
			<with variable="activeEditor">
         		<instanceof value="hu.skzs.multiproperties.ui.editor.Editor"/>
			</with>
			<with variable="selection">
				<and>
					<count value="1"/>
					<iterate ifEmpty="false" operator="and">
						<or>
							<instanceof value="hu.skzs.multiproperties.base.model.PropertyRecord"/>
							<instanceof value="hu.skzs.multiproperties.base.model.CommentRecord"/>
						</or>
					</iterate>
				</and>
			</with>
		</and>
      </definition>
      <definition
            id="hu.skzs.multiproperties.ui.definition.onePropertySelected">
		<and>
			<with variable="activeEditor">
         		<instanceof value="hu.skzs.multiproperties.ui.editor.Editor"/>
			</with>
			<with variable="selection">
				<and>
					<count value="1"/>
					<iterate ifEmpty="false" operator="and">
						<or>
							<instanceof value="hu.skzs.multiproperties.base.model.PropertyRecord"/>
						</or>
					</iterate>
				</and>
			</with>
		</and>
      </definition>
      <definition
            id="hu.skzs.multiproperties.ui.definition.convertToMultiline">
		<and>
			<with variable="activeEditor">
         		<instanceof value="hu.skzs.multiproperties.ui.editor.Editor"/>
			</with>
			<with variable="selection">
				<and>
					<count value="1"/>
					<iterate ifEmpty="false" operator="and">
						<or>
							<instanceof value="hu.skzs.multiproperties.base.model.PropertyRecord"/>
						</or>
					</iterate>
					<test property="hu.skzs.multiproperties.ui.isNormalPropertySelection"/>
				</and>
			</with>
		</and>
      </definition>
      <definition
            id="hu.skzs.multiproperties.ui.definition.convertToNormal">
		<and>
			<with variable="activeEditor">
         		<instanceof value="hu.skzs.multiproperties.ui.editor.Editor"/>
			</with>
			<with variable="selection">
				<and>
					<count value="1"/>
					<iterate ifEmpty="false" operator="and">
						<or>
							<instanceof value="hu.skzs.multiproperties.base.model.PropertyRecord"/>
						</or>
					</iterate>
					<test property="hu.skzs.multiproperties.ui.isMultilinePropertySelection"/>
				</and>
			</with>
		</and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
      		class="hu.skzs.multiproperties.ui.command.AddPropertyHandler"
            commandId="hu.skzs.multiproperties.ui.command.AddProperty">
            <enabledWhen>
            	<or>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.hasSelection"/>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.continuousSelection"/>
            	</or>
            </enabledWhen>
      </handler>
      <handler
      		class="hu.skzs.multiproperties.ui.command.AddCommentHandler"
            commandId="hu.skzs.multiproperties.ui.command.AddComment">
            <enabledWhen>
            	<or>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.hasSelection"/>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.continuousSelection"/>
            	</or>
            </enabledWhen>
      </handler>
      <handler
      		class="hu.skzs.multiproperties.ui.command.AddEmptyHandler"
            commandId="hu.skzs.multiproperties.ui.command.AddEmpty">
            <enabledWhen>
            	<or>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.hasSelection"/>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.continuousSelection"/>
            	</or>
            </enabledWhen>
      </handler>
      <handler
      		class="hu.skzs.multiproperties.ui.command.EditHandler"
            commandId="hu.skzs.multiproperties.ui.command.Edit">
            <enabledWhen>
               <reference definitionId="hu.skzs.multiproperties.ui.definition.editable"/>
            </enabledWhen>
      </handler>
      <handler
      		class="hu.skzs.multiproperties.ui.command.ConvertToMultilineHandler"
            commandId="hu.skzs.multiproperties.ui.command.ConvertToMultiline">
            <enabledWhen>
               <reference definitionId="hu.skzs.multiproperties.ui.definition.convertToMultiline"/>
            </enabledWhen>
      </handler>
      <handler
      		class="hu.skzs.multiproperties.ui.command.ConvertToNormalHandler"
            commandId="hu.skzs.multiproperties.ui.command.ConvertToNormal">
            <enabledWhen>
               <reference definitionId="hu.skzs.multiproperties.ui.definition.convertToNormal"/>
            </enabledWhen>
      </handler>
      <handler
      		class="hu.skzs.multiproperties.ui.command.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
            <enabledWhen>
               <reference definitionId="hu.skzs.multiproperties.ui.definition.hasSelection"/>
            </enabledWhen>
      </handler>
      <handler
      		class="hu.skzs.multiproperties.ui.command.MoveUpHandler"
            commandId="hu.skzs.multiproperties.ui.command.MoveUp">
            <enabledWhen>
				<and>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.hasSelection"/>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.continuousSelection"/>
					<with variable="selection">
						<not>
							<test property="hu.skzs.multiproperties.ui.isBeginningSelection"/>
						</not>
					</with>
				</and>
            </enabledWhen>
      </handler>
      <handler
      		class="hu.skzs.multiproperties.ui.command.MoveDownHandler"
            commandId="hu.skzs.multiproperties.ui.command.MoveDown">
            <enabledWhen>
				<and>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.hasSelection"/>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.continuousSelection"/>
					<with variable="selection">
						<not>
							<test property="hu.skzs.multiproperties.ui.isEndingSelection"/>
						</not>
					</with>
				</and>
            </enabledWhen>
      </handler>
      <handler
      		class="hu.skzs.multiproperties.ui.command.DuplicateHandler"
            commandId="hu.skzs.multiproperties.ui.command.Duplicate">
            <enabledWhen>
				<and>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.hasSelection"/>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.continuousSelection"/>
				</and>
            </enabledWhen>
      </handler>
      <handler
      		class="hu.skzs.multiproperties.ui.command.DisableHandler"
            commandId="hu.skzs.multiproperties.ui.command.Disable">
            <enabledWhen>
            	<and>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.hasSelection"/>
	               <reference definitionId="hu.skzs.multiproperties.ui.definition.onePropertySelected"/>
            	</and>
            </enabledWhen>
      </handler>
      <handler
      		class="hu.skzs.multiproperties.ui.command.FindReplaceHandler"
            commandId="org.eclipse.ui.edit.findReplace">
      </handler>
      <handler
      		class="hu.skzs.multiproperties.ui.command.InlineEditHandler"
            commandId="hu.skzs.multiproperties.ui.command.InlineEdit">
      </handler>
      <handler
      		class="hu.skzs.multiproperties.ui.command.TooltipHandler"
            commandId="hu.skzs.multiproperties.ui.command.ToggleTooltip">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="hu.skzs.multiproperties.ui.command.AddProperty"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="INSERT">
      </key>
      <key
            commandId="hu.skzs.multiproperties.ui.command.AddComment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+INSERT">
      </key>
      <key
            commandId="hu.skzs.multiproperties.ui.command.AddEmpty"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+INSERT">
      </key>
      <key
            commandId="hu.skzs.multiproperties.ui.command.MoveUp"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+ARROW_UP">
      </key>
      <key
            commandId="hu.skzs.multiproperties.ui.command.MoveDown"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+ARROW_DOWN">
      </key>
      <key
            commandId="hu.skzs.multiproperties.ui.command.Duplicate"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+D">
      </key>
      <key
            commandId="hu.skzs.multiproperties.ui.command.Disable"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+D">
      </key>
   </extension>

</plugin>
